frontend/node_modules/
frontend/.gitignore
frontend/package-lock.json

tubefetch/celerybeat-schedule.bak
tubefetch/celerybeat-schedule.dat
tubefetch/celerybeat-schedule.dir
tubefetch/db.sqlite3
tubefetch/tubefetch/__pycache__/
tubefetch/videofetcher/__pycache__/

tubefetch/videofetcher/migrations/